Source: libhangul
Section: devel
Priority: extra
Maintainer: Wei Ye <wei.ye@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config, libisf-dev
Standards-Version: 3.7.2

Package: libhangul
Architecture: any
Depends:
Description: Hangul ISE for ISF
 <this module is IM engine of SCIM and built for ISF (ISF is input service framework for supporing mobile input and is extended from SCIM 1.4.7.>
