Source: libhangul
Section: devel
Priority: extra
Maintainer: Wei Ye <wei.ye@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config, libisf-dev
Standards-Version: 3.7.2
 
Package: libhangul-bin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libhangul
Version: 2.2

Package: libhangul-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: libhangul header files and static libraries
 This package contains libhangul header files and static libraries

Package: libhangul-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libhangul (unstripped)
 This package contains libhangul unstripped files.
